body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgba(45, 248, 96, 1);
    gap: 7.5vw;
    justify-content: center;
    margin-top: 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 20px 0px;
    font-size: 1vw;
}

li:hover {
    color: black;
    background-color: rgb(34, 202, 76);
    cursor: pointer;
}

.slideshow {
text-align: left;
font-size: 25px;
width: 30%;
margin-left: 20px;
padding-top: 80px;
float:left;
}
.slideshow1{
    float:left;
    width:70%;
    font-size:24px;
    margin-left:20px;
}
