input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    max-width: 600px;
    padding: 20px;
}

.button {
    background-color: greenyellow;
    width: 100px;
    height: 45px;
    border: 1px solid black;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pclass1 {
    vertical-align: top;
    display: inline-block;
}

.aligning {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.aligning1 {
    display: flex;
    justify-content: center;
    gap: 400px;
}
.text{
    border:1px solid black;
    padding-left:150px;
    padding-right:150px;
}
.tableborder{
    border-top:none;
    width:297px;

}