.title {
    text-align: center;
    font-size: 20px
}

.divcenter {
    width: 50%;
    margin: auto;
}

.divtext {
    text-align: center;
    font-size: 21px;
    margin-bottom: auto;
}

.divtextTwo {
    text-align: center;
    font-size: 21px;
    margin: auto;
}

.containerOne {
    margin: 0px 5px 0px 5px;
}

.relefOne {
    font-size: 21px;
    text-align: center;
}

.klimatOne {
    font-size: 21px;
    text-align: center;
}

.vodiOne {
    font-size: 21px;
    text-align: center;
}

.pochviOne {
    font-size: 21px;
    text-align: center;
}

.buttonOne {
    margin-top: -10px;
    width: 130px;
    height: 30px;
    background-color: rgb(255, 152, 18);
    border-radius: 10px;
}

.buttonTwo {
    margin-top: -10px;
    width: 130px;
    height: 30px;
    background-color: rgb(39, 168, 0);
    border-radius: 10px;
}

.buttonThree {
    float: left;
    margin-top: -10px;
    width: 130px;
    height: 30px;
    background-color: rgb(233, 64, 255);
    border-radius: 10px;
}
.divFlexBoxMovement{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:150px;
}
.JivotinskiSvOne{
    font-size: 21px;
    text-align: center;
}